# salida del build
dist/

# tipos generados
.astro/

# dependencias
node_modules/

# registros
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# variables de entorno
.env
.env.production

# archivos propios de macOS
.DS_Store

# carpeta de ajustes de JetBrains
.idea/
